@{
    ViewData["Title"] = "Interpreter";
}

<link rel="stylesheet" runat="server" media="screen" href="~/css/styles.css" />

<h1>@ViewData["Title"]</h1>

<div class="card text-white bg-default mt-2">
  <div class="card-header  bg-primary">Code</div>
  <div class="card-body">
    <form id="codeForm" runat="server">
        <div class="form-group">
            <textarea class="form-control codeArea" runat="server" id="code" name="code">@TempData["code"]</textarea>
        </div>
        <button runat="server" type="submit" class="btn btn-primary interpretButton" 
        asp-controller="Home" asp-action="interpretCode">Interpret</button>
    </form>
  </div>
</div>

@{
    if(TempData["lex"] != null)
    {
        <div class="card text-white mt-2">
          <div class="card-header  @TempData["lexType"]">Lexical analysis</div>
          <div class="card-body">
            <form id="codeForm" runat="server">
                <div class="form-group">
                    <textarea class="form-control codeArea" runat="server" id="code" name="code">@TempData["lex"]</textarea>
                </div>
            </form>
          </div>
        </div>
    }
}

@{
    if(TempData["parse"] != null)
    {
        <div class="card text-white mt-2">
          <div class="card-header  @TempData["parseType"]">Syntax analysis</div>
          <div class="card-body">
            <form id="codeForm" runat="server">
                <div class="form-group">
                    <textarea class="form-control codeArea" runat="server" id="code" name="code">@TempData["parse"]</textarea>
                </div>
            </form>
          </div>
        </div>
    }
}

@{
    if(TempData["RPN"] != null)
    {
        <div class="card text-white mt-2">
          <div class="card-header  @TempData["RPNType"]">Syntax analysis</div>
          <div class="card-body">
            <form id="codeForm" runat="server">
                <div class="form-group">
                    <textarea class="form-control codeArea" runat="server" id="code" name="code">@TempData["RPN"]</textarea>
                </div>
            </form>
          </div>
        </div>
    }
}

@{
    if(TempData["interpret"] != null)
    {
        <div class="card text-white mt-2">
          <div class="card-header  @TempData["interpretType"]">Syntax analysis</div>
          <div class="card-body">
            <form id="codeForm" runat="server">
                <div class="form-group">
                    <textarea class="form-control codeArea" runat="server" id="code" name="code">@TempData["interpret"]</textarea>
                </div>
            </form>
          </div>
        </div>
    }
}